.brackets h1 {
    margin-bottom: 40px;
}

.bracketsContent {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.bracket {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bracket > * + * {
    margin-top: 20px;
}