.bracketsHeader {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.bracketsHeader > * {
    width: 300px;
    padding-bottom: 6px;
    color: var(--clr-500);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 2px solid var(--clr-500);
}

.bracketsContent {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.bracket {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bracket > * + * {
    margin-top: 20px;
}