.matchCard {
    width: 400px;
    height: 155px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    display: grid;
    place-content: center;
}

.inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.team {
    width: 150px;
}

.score {
    width: 70px;
    flex-shrink: 0;
    align-self: center;
    text-wrap: nowrap;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
}

.countryFlag {
    width: 60px;
    margin: 0 auto;
}

.countryName {
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.1;
}